
.DS_Store
.DS_Store?


*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


Thumbs.db
.idea/
.vscode/
*.swp
*.swo
*.swn
*.tmp


*.class


target/


.mvn/wrapper/maven-wrapper.jar


*.jar.original


.classpath
.project
.settings/

node_modules/


dist/


coverage/



frontend/


docker-compose.override.yml
$RECYCLE.BIN/
!.env.example
.env
.env.local  
